body{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  min-width: 1140px;
  margin: 0px;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.main_site_width{
  max-width: 1140px;
  margin: 0 auto;
}

.header-container{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(211,53,35,0.9);
  z-index: 99;
}
.logo-name{
  float: left;
}
.logo_small{
  padding-left: 20px;
  margin-top: 11px;
  display: inline-block;
  vertical-align: middle;
}
.name{
  display: inline-block;
  padding-left: 10px;
  color: white;
  font-weight: 300;
  font-size: 14px;
  vertical-align: -5px;
  }
.categories{
  float: right;
}
ul.menu_line{
  list-style-type:none;
  margin: 0;
  padding: 0;
  padding-right: 20px;
}
li.menu_line_btn{
  float: left;
}
li.menu_line_btn a{
  display: block;
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 65px;
  border-top: 5px solid transparent;
  padding: 0px 9px;
  text-decoration: none;
}
li.menu_line_btn a:hover:not(.active_menu){
  border-top: 5px solid rgba(255,255,255,0.6);
}
li.menu_line_btn a.active_menu{
  border-top: 5px solid rgba(255,255,255,0.6);
}



/*slider_container*/
.slider_container{
  background-image: url("images/bg-red.svg");
  background-size: cover;
}
.header_extra_layer{
  background-color: rgba(211, 53, 35, 0.3);
}
.slider_block{
  position: relative;
}
.logo_text_block{
  padding-top: 234px;
  text-align: center;
}
.logo_large{
  max-width: 72%;
  margin: 0 auto;
}
.logor_large_size{
  max-width: 100%;
  display: block;
}
.vertical_slider_btns_block{
  position: absolute;;
  top: 50%;
  right: 20px;
}
.vertical_btns_dots{
width: 6px;
height: 6px;
border: 1px solid white;
opacity: 0.3;
border-radius: 50%;
margin: 8px 0px;
padding: 0;
background-color: transparent;
outline: none;
}
.vertical_btns_dots:hover:not(.active) {
  background-color: white;
  opacity: 1;
  cursor: pointer;
}
.active {
  background-color: white;
  opacity: 1;
  cursor: pointer;
}
.qoute{
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  margin: 0 auto;
  margin-top: 50px;
  width: 72%;
  color: white;
}
.soc_icon_block{
  text-align: center;
}
.icons{
  width: 5%;
  margin: 40px 0px 65px 0px;
  display: inline-block;
  opacity: 0.5;
}
div.icons:hover{
opacity: 0.8;
}
.icons_img{
  max-width: 100%;
  border: transparent;
}



/*offers_container*/
.offers_container {
background-color: #d33523;
text-align: center;
}
.offers_title_block {
  padding-top: 110px;
}
.offers_title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  color: white;
}
.offers_clms_block{
  width: 86%;
  margin: 0 auto;
  margin-top: 65px;
}
.offers_clms {
  width: 25%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  float: left;
  }
.offer_img_block{
  width: 100%;
}
.offer_img{
  width: 35%;
  display: inline-block;
}
.offer_img_size{
  width: 100%;
}
.offer_title{
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  margin-top: 25px;
}
.offer_text{
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin: 25px 15px 70px 15px;
  line-height: 1.5;
}



/*portfolio_container*/
.portfolio_container{
}
.portfolio_background{
  background-image: url("images/bg-green.svg");
  background-size: cover;
  background-position: 0 0;
}
.portfolio_extra_layer{
  background-color: rgba(87, 170, 104, 0.2);
  }
.portfolio_block{
  text-align: center;
}
.portfolio_title_block{
  padding-top: 110px;
}
.portfolio_title{
  color: white;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.portfolio_qoute_block{
  width: 80%;
  margin: 0 auto;
}
.portfolio_qoute{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(255,255,255,0.8);
  padding-top: 50px;
}
.portfolio_menu_block{
  margin-top: 30px;
  margin-bottom: 30px;
}
.portfolio_menu_block_style{
  list-style-type:none;
  margin: 0;
  padding: 0;
}
.portfolio_menu_btn{
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid transparent;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 15px;
  margin: 0px 15px;
  outline: none;
}
.portfolio_menu_btn:hover:not(.active_btn){
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}
.active_btn{
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}
.horizontal_slider_btns_block{
}
.horizontal_btns_dots{
  width: 6px;
  height: 6px;
  border: 1px solid white;
  opacity: 0.2;
  border-radius: 50%;
  margin: 0px 7px 30px 7px;
  padding: 0;
  background-color: transparent;
}
.horizontal_btns_dots:hover{
  background-color: white;
  opacity: 1;
  cursor: pointer;
}
.active{
  background-color: white;
  opacity: 1;
}
.portfolio_gallery_block{
  position: relative;
  top:0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
}
.portfolio_gallery_image{
  display: inline-block;
  width: 25%;
  float: left;
  position: relative;
}
.portfolio_img_spec{
  width: 100%;
  vertical-align: top;
}
.portfolio_gallery_overlay{
  display: none;
  background-color: rgba(87,170,104,0.8);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.portfolio_gallery_image:hover .portfolio_gallery_overlay{
  display: block;
}
.portfolio_gallery_overlay_content{
  width: 100%;
  position: absolute;
  top: 50%;
  color: white;
  line-height: 1.3333;
  text-align: center;
  transform: translateY(-50%);
}
.portfolio_gallery_overlay_content_title{
  font-size: 18px;
  font-weight: 400;
  padding-top: 35px;
}
.portfolio_gallery_overlay_content_p{
  font-size: 14px;
  font-weight: 300;
}
.bullseye_size{
  width: 100%;
}


/*Pricelist container*/
.pricelist_container{
  background-image: url("images/bg-green.svg");
  background-size: cover;
  background-position: 0 0;
}
.pricelist_container_overlay{
  background-color: rgba(111,250,255,0.5);
}
.pricelist_offers_menu{
  width: 86%;
  text-align: center;
}
.pricelist_container_title_block{
  padding-top: 110px;
}
.pricelist_container_title{
  color: white;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.hightlighted{
  background-color: #316769;
}
.pricelist_menu_block{
  margin-top: 70px;
  margin-bottom: 30px;
}
.pricelist_menu_block_style{
  list-style-type:none;
  margin: 0;
  padding: 0;
}
.pricelist_menu_btn{
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid transparent;
  text-decoration: none;
  background-color: transparent;
  padding: 8px 13px;
  margin: 0px 30px;
  outline: none;
}
.pricelist_menu_btn:hover:not(.active_btn){
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}
.active_btn{
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}
.pricelist_sets_block{
  background-color: #2a5759
}
.priceslist_sets_table{
  width: 86%;
  margin: 0 auto;
  border-collapse: collapse;
}
.pricelist_sets_title{
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 26px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.pricelist_sets_text{
  color: rgba(255,255,255,0.6);
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding: 15px 0;
}
.price{
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
  color: white;
}
.pricelist_sets_signup{
  list-style-type:none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
  background-color: transparent;
  padding: 13px 39px;
  margin: 29px 0px 80px 0px;
  outline: none;
}
.pricelist_sets_signup:hover:not(.active_signup){
  background-color: #478587;
  border-radius: 5px;
  cursor: pointer;
}
.active_signup{
  background-color: #478587;
  border-radius: 5px;
  cursor: pointer;
}



/*Team cotainer*/
.team_container{
  text-align: center;
  background-color: #57aa68;
}
.team_title_block{
  padding-top: 112px;
  padding-bottom: 35px;
}
.team_title{
  font-size: 28px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}
.team_text_block{
  width: 77%;
  margin: 0 auto;
  text-align: center;
}
.team_text{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.333;
  color: white;
  padding-bottom: 50px;
}
.team_slider{
}
.team_slider_block{
  width: 90%;
  margin: 0 auto;
}
.team_slider_block_cont{
  float: left;
}
.team_slider_person{
  width: 22.5%;
  display: inline-block;
  margin: 0px 9px 77px 9px;;
}
.team_slider_person_img{
  position: relative;
}
.team_img{
  width: 100%;
  position: relative;
}
.team_slider_person_img:hover .team_slider_person_img_overlay{
  display: block;
}
.team_slider_person_img_overlay{
  background-color: rgba(87,170,104,0.8);
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.team_slider_person_img_overlay_cont{
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 20px;
  left: 20px;
}
.team_slider_person_img_overlay_title{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333;
  color: white;
  padding-bottom: 5px;
}
.team_slider_person_img_overlay_text{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: white;
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
}
.team_slider_person_img_overlay_soc_block{
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
}
.team_slider_person_img_overlay_soc_icon_block{
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.3);
  display: inline-block;
}
.team_soc_icon{
  text-decoration: none;
}
.overlay_soc_icon_style{
  position: relative;
  top:20%;
}
.fa_twitter{
  color: white;
  font-size: 25px;
}
.fa_facebook{
  color: white;
  font-size: 25px;
}
.fa_dribbble{
  color: white;
  font-size: 25px;
}
.team_slider_person_text_name{
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-top:25px;
}
.team_slider_person_text_position{
  font-size: 13px;
  font-weight: 400;
  color: white;
  opacity: 0.56;
  margin-top: 5px;
}


/*Contact_container*/
.contact_container{
  background-image: url(images/bg-blue.svg);
  background-size: cover;
  background-position: 0 0;
}
.contact_overlay{
  background-color: rgba(46,45,107,0.2);
}
.contact_title_block{
  width: 48%;
  margin: 0 auto;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 55px;
}
.contact_title{
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}
.contact_form_block{
  width: 55%;
  margin: auto;
}
.contact_form_name{
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  color: white;
  opacity: 0.7;
  box-sizing: border-box;
  padding-left: 13px;
}
.contact_form{
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgba(46,45,107,0.7);
  border: none;
}
.contact_form_sub_name{
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}
.contact__name_email{
  width: 100%;
  height: 36px;
}
.contact_text{
  width: 100%;
  height: 232px;
  padding-top: 13px;
  resize: vertical;
}
.textarea_scroll{
  overflow: hidden;
}
.contact_form_adress_block{
  width: 55%;
  margin: auto;
  text-align: center;
  padding-top: 42px;
  padding-bottom: 48px;
}
.contact_form_adress{
  font-size: 18px;
  font-weight: 300;
  color: white;
}
.button_submit{
  background-color: transparent;
  border: none;
}
.contact_form_submit{
  width: 620px;
  height: 40px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}



/*map container*/
.map_container{
  background-color: #2e2d6b;
}
.map{
}
.map_size{
  width: 100%;
  height: 600px;
}
.copyright_container{
  background-color: #2e2d6b;
}
.copyright_block{
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
.copyright_text{
  font-size: 13px;
  font-weight: 300;
  color: white;
  line-height: 2.307692;
  opacity: 0.5;
  padding: 30px 0px;
}
