body{
  margin:0;
  font-size: 12px;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.main-container{
width: auto;
height: auto;
margin: 0 auto;
font-family: 'Roboto', sans-serif;
}
.header-slider{
  width: auto;
  height: 800px;
  background-image: url("images/bg-red.svg");
  background-size: cover;
}
.header_extra_layer{
  width: auto;
  height: 800px;
  background-color: rgba(211, 53, 35, 0.3);
}
.header-container{
  width: auto;
  height: auto;
  margin: auto;
  background-color: rgb(211, 53, 35);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(211,53,35,0.3);
  z-index: 2;
}
.header_block{
  width: 1173px;
  height: 70px;
  margin: auto;
  position: relative;
}
.logo-name{
  width: auto;
  height: auto;
  float: left;
}
.logo{
  display: inline-block;
  padding-top: 10px;
  padding-right: 12px;
}
.name{
  display: inline-block;
  color: white;
  font-weight: 300;
  font-size: 14px;
  margin-left: 0px;
  vertical-align: top;
  padding-top: 30px;
  }
.categories{
  width: auto;
  height: auto;
  background-color: transparent;
  float: right;
}
ul.menu_line{
  list-style-type:none;
  margin: 0;
  padding: 0;
}
li.menu_line_btn{
  float: left;
}
li.menu_line_btn a{
  display: block;
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 65px;
  border-top: 5px solid transparent;
  padding: 0px 9px;
  text-decoration: none;
}
li.menu_line_btn a:hover{
  border-top: 5px solid white;
  background-color: transparent;
}
.slider-container{
  width: auto;
  height: auto;
}
.slider_block{
  width: auto;
  height: auto;
  margin: auto;
  position: relative;
  display: block;
}
.logo_soc_icons{
  display: block;
  margin: auto;
  padding-top: 244px;
  width: 920px;
}
.qoute{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.666667;
  display: block;
  margin: 0 auto;
  width: 920px;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  color: white;
  position: inherit;
  padding-top: 57px;
}
.soc_icon_line{
  width: auto;
  display: block;
  margin: auto;
}
.soc_icon_block{
  width: 230px;
  margin: auto;
}
.icons{
  margin: 35px 15px 0px 15px;
  display: inline-block;
  text-align: center;
  opacity: 0.5;
}
div.icons:hover{
opacity: 1;
}
.vertical_slider_btns_block{
  margin: auto;
}
.vertical_slider_btns{
  padding-right: 30px;
  position: absolute;
  top: 55%;
  right: 0;
}
.vertical_btns_dots{
width: 9px;
height: 9px;
border: 1px solid white;
opacity: 0.3;
border-radius: 50%;
margin: 8px 0px;
background-color: transparent;
}
a:hover .vertical_btns_dots{
  background-color: white;
  opacity: 1;
}
.offers_container {
font-family: 'Roboto', sans-serif;
background-color: rgb(211,53,35);
height: 578px;
width: auto;
margin: auto;
display: block;
}
.offers_title_block {
  width: 920px;
  height: auto;
  margin: auto;
  text-align: center;
  padding-top: 68px;
}
.offers_title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  color: white;
}
.offers_clms_block{
  width: 1173px;
  height: auto;
  margin: auto;
  display: block;
  text-align: center;
}
.offers_clms {
  margin-top: 48px;
  width: 293px;
  height: auto;
  display: inline-block;
  float: left;
  }
.offer_content{
}
.offer_img{
  width: 100px;
  height: 90px;
  display: inline-block;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.offer_img_eye{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left:0px;
  margin: auto;
}
.offer_title{
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-top: 24px;
}
.offer_text{
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: white;
  margin: 25px 30px 70px 30px;
  line-height: 1.3333;
}
.portfolio_container{
  height: 388px;
  width: auto;
  background-image: url("images/bg-green.svg");
  background-size: cover;
  background-position: 0 0;
  font-family: 'Roboto', sans-serif;
}
.portfolio_extra_layer{
  width: auto;
  height: 988px;
  background-color: rgba(87, 170, 104, 0.2);
  }
.portfolio_block{
  width: auto;
  height: 388px;
  margin: auto;
}
.portfolio_title_block{
  width: 920px;
  height: auto;
  margin: auto;
  text-align: center;
  padding-top: 67px;
}
.portfolio_title{
  color: white;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.portfolio_qoute_block{
  width: auto;
  height: auto;
  margin: auto;
}
.portfolio_qoute{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3333;
  display: block;
  margin: 0 auto;
  width: 960px;
  text-align: center;
  color: white;
  position: inherit;
  padding-top: 53px;
}
.portfolio_menu{
  width: auto;
  height: auto;
  margin: auto;
  background-color: transparent;
  text-align: center;
}
.portfolio_menu_block{
  display: inline-block;
  height: 42px;
  margin-top: 46px;
  margin-bottom: 40px;
}
ul.portfolio_menu_line{
  list-style-type:none;
  margin: 0;
  padding: 0;
  position: relative;
}
li.portfolio_menu_line_btn{
  float: left;
}
li.portfolio_menu_line_btn a{
  display: block;
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid transparent;
  text-decoration: none;
  padding: 10px 10px;
  margin: 0 25px;
}
li.portfolio_menu_line_btn a:hover{
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
}
.horizontal_slider_btns{
  width: auto;
  height: 33px;
  margin: auto;
  text-align: center;
}
.horizontal_slider_btns_block{
  display: inline-block;
}
.horizontal_btns_dots{
  width: 9px;
  height: 9px;
  border: 1px solid white;
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 7px;
  background-color: transparent;
}
a:hover .horizontal_btns_dots{
  background-color: white;
  opacity: 1;
}
.portfolio_gallery{
  width: auto;
  height: auto;
  position: relative;
  top:0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
}
.portfolio_gallery_block{
  display: block;
  margin: auto;
  width: 1280px;
}
.portfolio_gallery_image{
  display: inline-block;
  width: 320px;
  height: 300px;
  float: left;
  position: relative;
}
.portfolio_gallery_overlay{
  display: none;
  background-color: rgba(87,170,104,0.8);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.portfolio_gallery_image:hover .portfolio_gallery_overlay{
  display: block;
}
.portfolio_gallery_overlay_content{
  width: 100%;
  vertical-align: top;
  position: absolute;
  top: 50%;
  color: white;
  line-height: 1.3333;
  text-align: center;
  transform: translateY(-50%);
}
.portfolio_gallery_overlay_content_title{
  font-size: 18px;
  font-weight: 400;
  padding-top: 35px;
}
.portfolio_gallery_overlay_content_p{
  font-size: 14px;
  font-weight: 300;
}
.team_container{
  width: auto;
  height: auto;
  background-color: rgb(87,170,104);
  clear: both;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}
.team_title_block{
  width: 920px;
  height: auto;
  margin: auto;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
}
.team_title{
  font-size: 28px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}
.team_content{

}
.team_text_block{
  width: 990px;
  height: auto;
  margin: auto;
  text-align: center;
}
.team_text{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.333;
  color: white;
  padding-bottom: 50px;
}
.team_slider{
  width: auto;
  height: auto;
  margin: auto;
  display: block;
}
.team_slider_block{
width: 1173px;
height: 445px;
margin: auto;
text-align: center;
}
.team_slider_person{
width: 270px;
height: auto;
display: inline-block;
float: left;
}
.team_slider_person_margin{
  margin-left:30px;
}
.team_slider_person_img{
  width: 270px;
  height: 300px;
  position: relative;
}
.team_slider_person_img:hover .team_slider_person_img_overlay{
  display: block;
}
.team_slider_person_text_block{
  height: auto;
  text-align:center;
}
.team_slider_person_text_name{
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-top:22px;
}
.team_slider_person_text_position{
  font-size: 13px;
  font-weight: 400;
  color: white;
  opacity: 0.56;
  margin-top: 15px;
}
.team_slider_person_img_overlay{
  background-color: rgba(87,170,104,0.8);
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.team_slider_person_img_overlay_cont{
  position: absolute;
  top: 25px;
  bottom: 25px;
  right: 25px;
  left: 25px;
}
.team_slider_person_img_overlay_title{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333;
  color: white;
  padding-bottom: 15px;
}
.team_slider_person_img_overlay_text{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: white;
  text-align: center;
}
.team_slider_person_img_overlay_soc_cont{
  width: 100%;
  position: relative;
  top: 70px;
  margin: auto;
}
.team_slider_person_img_overlay_soc_block{

}
.team_slider_person_img_overlay_soc_icon_block{
  width: 42px;
  height: 42px;
  background-color: rgba(0,0,0,0.3);
  display: inline-block;
}
.overlay_soc_icon_style{
  position: relative;
  top:25%;
}
.contact_container{
  width: auto;
  height: auto;
  background-image: url(images/bg-blue.svg);
  background-size: cover;
  background-position: 0 0;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}
.contact_overlay{
  width: auto;
  height: auto;
  background-color: rgba(46,45,107,0.2);
  margin: auto;
}
.contact_title_block{
  width: 920px;
  height: auto;
  margin: auto;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
}
.contact_title{
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}
.contact_form_block{
  width: 620px;
  height: auto;
  margin: auto;
  text-align: center;
}
.contact_form_fields{

}
.contact_form{
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgba(46,45,107,0.7);
  border: none;
}
.contact_form_name{
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  color: white;
  opacity: 0.7;
  box-sizing: border-box;
  padding-left: 13px;
}
.contact_form_sub_name{
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.contact__name_email{
  width: 100%;
  height: 36px;
}
.contact_text{
  width: 620px;
  height: 232px;
  padding-top: 13px;
  resize: vertical;
}
.contact_form_submit{
  border-radius: 5px;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
}
.contact_form_adress_block{
  width: 780px;
  height: auto;
  margin: auto;
  text-align: center;
  padding-top: 42px;
  padding-bottom: 48px;
}
.contact_form_adress{
  font-size: 21px;
  font-weight: 300;
  color: white;
}
.map_container{
  width: auto;
  height: auto;
  margin: auto;
  background-color: rgb(46,45,107);
}
.map{
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
}
.map_size{
  width: 1280px;
  height: 600px;
}
.copyright_container{
  width: auto;
  height: auto;
  background-color: rgb(46,45,107);
  font-family: 'Roboto', sans-serif;
}
.copyright_block{
  width: 230px;
  height:42px;
  margin: auto;
  text-align: center;
  position: relative;

}
.copyright_text{
  font-size: 13px;
  font-weight: 300;
  color: white;
  line-height: 2.307692;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
